.btn {
  background-color: #1b88f4;
  width: 232px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: 400;

}
.width{
  background-color: #1b88f4;
  width: 292px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
